<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- links -->
	<link rel="stylesheet" href="../css/index.css">

	<!-- scripts -->
	<script src="../scripts/index.js" defer></script>
	<script src = "../scripts/menuHandler.js" defer></script>
	
	<title>TASK MANAGER</title>
</head>
<body>
	<section id = "mainWindow">
		<!-- <center> -->
			<nav>
				<h1 class = "navHeader navElement">Task Manager</h1>
				<div class = "sizeButtons navElement">
					<div id = "fullscreenWindowButton">
					</div>

					<div id = "minimizeWindowButton">
					</div>

					<div id = "closeWindowButton">
					</div>
				</div>
			</nav>
			<div id = "functions_div">
				<button class = "navButton navElement" id = "addTaskButton">Add Task</button>
			</div>
		</center>
	</section>
</body>

</html>