<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- links -->
	<link rel="stylesheet" href="../css/index.css">

	<!-- scripts -->
	<script src="../scripts/index.js" defer></script>
	<script src = "../scripts/menuHandler.js" defer></script>
	
	<title>TASK MANAGER</title>
</head>
<body>
	<section id = "mainWindow">
		<center>
			<nav>
				<button class = "navButton navElement" id = "addTaskButton">Add Task</button>
				<h1 class = "navHeader navElement">Task Manager</h1>
				<div class = "sizeButtons navElement">
					<button  class = "navElement" id = "closeWindowButton">Close</button>
					<button class = "navElement" id = "fullscreenWindowButton">Maximize</button>
					<button class = "navElement" id = "minimizeWindowButton">Minimize</button>
				</div>
			</nav>
		</center>
	</section>
</body>

</html>